.module-addnew h3 {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    line-height: 30px;
}

.tables td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tables td a,
.module-addnew h3 a {
    color: #08afdd;
}

.email-send-all-btn.save-buttons {
    color: #f09413;
    border: 1px solid #f09413;
}

.email-send-all-btn.save-buttons:hover {
    background-color: #f09413;
    color: #fff;
    border: 1px solid #f09413;
}

.email-send-test-btn.save-buttons {
    color: #ed05e2;
    border: 1px solid #ed05e2;
}

.email-send-test-btn.save-buttons:hover {
    background-color: #ed05e2;
    color: #fff;
    border: 1px solid #ed05e2;
}

.tables td a:hover {
    text-decoration: underline;
}

.module-addnew-btn {
    float: right;
}

.buttons {
    margin-right: 20px;
}

a {
    color: #515151;
}

.mini-buttons {
    margin-right: 10px;
}
