.module-addnew-btn {
    float: right;
}

.form-tables {
    clear: both;
}

.account-search-textbox {
    margin-right: 20px;
    width: 300px;
}

.buttons {
    margin-right: 20px;
}

.mini-buttons {
    margin-right: 5px;
    width: 30px;
}

.mini-buttons:last-child {
    margin-right: 0;
}

a {
    color: #08AFDD;
}

.saving,
.saving:hover {
    background: #888;
    color: #fff;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.block td:not(:last-child){
    text-decoration: line-through;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
