/*Overview - PANEL
=======================================================*/

.overview-panel {
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.status-panel {
    width: calc((100% - 60px) / 3);
    height: 140px;
    margin: 20px 20px 20px 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 90% 10px;
}

.status-panel:nth-child(3) {
    margin-right: 0;
}

.panel-1 {
    background-image: url(images/post.svg );
    background-color: #f0dc00;
}

.panel-2 {
    background-image: url(images/comment.svg );
    background-color: #00d615;
}

.panel-3 {
    background-image: url(images/message.svg );
    background-color: #d01639;
}

.status-number {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    float: left;
    margin: 20px 0 10px 25px;
    font-family: 'Times New Roman';
}

.status-title {
    clear: both;
    color: #fff;
    text-align: left;
    margin-left: 25px;
    font-size: 14px;
}

.status-link {
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    background-image: url(images/right-arrow.svg );
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: calc(100% - 25px) center;
    height: 30px;
    margin-top: 17px;
    text-align: left;
    padding: 0 25px;
    box-sizing: border-box;
}

.status-link a {
    color: #fff;
    line-height: 30px;
    font-size: 14px;
}


/* Chat
==================================================*/

@keyframes fade-in-100-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fade-in-100-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.chat {
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 100px auto;
}

.chat .aside {
    width: 50%;
    background-color: #511F79;
    display: flex;
    flex-direction: column;
}

.chat .aside .head {
    min-height: 160px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat .aside .head .avatar {
    background-color: #D65050;
    color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat .aside .head .name,
.chat .aside .head .mail {
    margin: 3px 0px;
    font-size: 14px;
}

.chat .aside .head .name {
    font-weight: 700;
}

.chat .aside .head .mail {
    font-weight: 400;
    opacity: 0.8;
}

.chat .aside .friends_list {
    background-color: #673E8C;
    width: 100%;
    min-height: 600px;
    overflow: auto;
}

.chat .aside .friends_list .friend {
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
}

.chat .aside .friends_list .friend:hover {
    background-color: #714B94;
}

.chat .aside .friends_list .friend.active {
    background-color: #714B94;
}

.chat .aside .friends_list .friend.active .avatarbox {
    position: relative;
}

.chat .aside .friends_list .friend.active .avatarbox::before {
    border: 2px solid #714B94;
}

.chat .aside .friends_list .friend .avatarbox {
    position: relative;
}

.chat .aside .friends_list .friend .avatarbox::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #3EC649;
    display: block;
    position: absolute;
    z-index: 99;
    border-radius: 50%;
    top: 5px;
    left: 10px;
    border: 2px solid #673E8C;
}

.chat .aside .friends_list .friend .avatar_overlay {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px 10px;
}

.chat .aside .friends_list .friend .avatar_overlay img {
    width: 100%;
    min-height: 100%;
}

.chat .aside .friends_list .friend .namemsg {
    color: white;
    width: 70%;
}

.chat .aside .friends_list .friend .namemsg p {
    line-height: 20px;
}

.chat .aside .friends_list .friend .namemsg .msg {
    opacity: 0.6;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.chat .aside .friends_list .friend .timeago {
    width: 20%;
    font-size: 11px;
}

.midcont {
    width: 50%;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
}

.midcont .head {
    padding: 20px;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.midcont .head h4 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
}

.midcont .head h4 small {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}

.midcont .head .configschat {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
}

.midcont .head .configschat i {
    font-size: 26px;
    color: rgba(0, 0, 0, 0.7);
    padding: 10px 30px;
    transition: transform 0.2s cubic-bezier(0.72, 0.1, 0.33, 1.99);
}

.midcont .head .configschat i:hover {
    transform: scale(1.1);
}

.midcont .head .configschat i.fa.fa-ellipsis-v:hover {
    color: #B5B5B5;
}

.midcont .messagescont {
    height: 70%;
    padding: 10px;
}

.midcont .messagescont .msg {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    overflow: hidden;
}

.midcont .messagescont .msg .text {
    background-color: white;
    padding: 1em;
    border-radius: 6px;
    color: #737373;
    position: relative;
    line-height: 18px;
}

.midcont .messagescont .user {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.midcont .messagescont .user.me {
    margin-right: auto;
    animation: fade-in-100-left 1.5s 1s ease-in-out both;
}

.midcont .messagescont .user.me .text::before {
    content: '';
    display: block;
    border-style: solid;
    border-width: 7.5px 12px 7.5px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    left: -11px;
}

.midcont .messagescont .user.friend {
    margin-left: auto;
    flex-direction: row-reverse;
    animation: fade-in-100-right 1.5s 1.8s ease-in-out both;
}

.midcont .messagescont .user.friend .text {
    background-color: #714B94;
    color: white;
}

.midcont .messagescont .user.friend .text::before {
    content: '';
    display: block;
    border-style: solid;
    border-width: 7.5px 0 7.5px 12px;
    border-color: transparent transparent transparent #714B94;
    position: absolute;
    right: -11px;
}

.midcont .messagescont .user .avatarbox .avatar_overlay {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px 10px;
}

.midcont .messagescont .user .avatarbox {
    display: block;
    margin-top: 15px;
    padding: 0px 20px;
}

.midcont .messagescont .user .avatarbox::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 0px solid;
}

.midcont .bottomchat {
    padding: 20px;
    background-color: white;
    color: #B5B5B5;
    margin-top: auto;
}

.midcont .bottomchat * {
    transition: all 0.2s ease-in-out;
}

.midcont .bottomchat .text {
    float: left;
    font-size: 14px;
    border: none;
    letter-spacing: 1px;
    line-height: 30px;
    width: 80%;
    resize: none;
    outline: none;
    height: 90px;
}

.midcont .bottomchat i {
    float: right;
    font-size: 20px;
    line-height: 90px;
    cursor: pointer;
    padding: 0 10px;
    color: #d01639;
}

.midcont .bottomchat i:hover {
    opacity: 0.5;
    color: #3EC649;
}

.fcenter {
    align-items: center;
}

.b {
    font-weight: 700;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.avatarbox {
    position: relative;
}

.avatarbox::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #3EC649;
    display: block;
    position: absolute;
    z-index: 99;
    border-radius: 50%;
    top: 5px;
    left: 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.avatarbox .avatar_overlay {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px 10px;
}

.avatarbox .avatar_overlay img {
    width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 1000px) {
    .chat {
        flex-direction: column;
        min-height: 600px;
        max-width: 360px;
        width: auto;
        height: auto;
    }
    .chat .aside {
        height: auto;
        overflow: hidden;
    }
    .chat .aside .head {
        flex-direction: row;
        min-height: 90px;
    }
    .chat .aside .head * {
        margin: 0px 10px !important;
    }
    .chat .aside .head .mail {
        font-size: 10px;
    }
    .chat .aside .friends_list {
        transition: all 0.2s ease-in-out;
        min-height: 0px;
    }
    .chat .aside .friends_list.ok {
        height: 0px;
    }
    .chat .aside .friends_list.ok.active {
        min-height: 210px;
    }
    .midcont {
        min-height: 600px;
    }
    .midcont .configschat i {
        font-size: 18px !important;
    }
    .chat .aside,
    .midcont {
        width: 100%;
    }
}
