.form-tables {
    width: 70%;
    clear: both;
}

.form-tables td img {
    width: 200px;
    height: 200px;
}

.form-tables td:first-child {
    width: 50%;
}

.slider-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slider-table td img {
    width: 100px;
    height: 100px;
}

.slider-addnew-btn {
    margin-right: 20px;
}

.save-btn {
    float: right;
}
