.avatar,
.avatar-reply {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 7px;
}

.avatar img,
.avatar-reply img {
    width: 100%;
    height: auto;
}

.comment-content {
    padding-top: 0;
}

.user,
.user-reply {
    margin-right: 5px;
    font-weight: 700;
    cursor: pointer;
}

.reply-box {
    margin-left: 30px;
    padding-left: 10px;
}

.user:hover,
.user-reply:hover {
    text-decoration: underline;
}

.reply {
    padding: 0 13px;
    margin-bottom: 10px;
}

.reply span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.chat-box input,
.chat-box textarea,
.chat-box-reply input,
.chat-box-reply textarea {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    font-size: 1.1em;
}

.chat-box textarea,
.chat-box-reply textarea {
    padding-top: 10px;
}

.chat-box input,
.chat-box-reply input {
    height: 35px;
}

.chat-box input[type=submit],
.chat-box-reply input[type=submit] {
    width: 100px;
    background-color: #ec971f;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    border: none;
}

.chat-box input:disabled,
.chat-box-reply input:disabled {
    background-color: #ddd;
    cursor: default;
}

.chat-box textarea,
.chat-box-reply textarea {
    min-height: 35px;
    resize: none;
}

.reply-box {
    border-left: 2px solid #ddd;
}

.reply-input {
    display: none;
}

.comment-heading {
    font-size: 20px;
    color: #ec971f;
    margin: 10px 0;
}
