/*Reset CSS
================================================*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #eeeeee;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

a {
    text-decoration: none;
}

/*Header - LOGO
================================================*/

header {
    width: 100%;
    height: 45px;
    background: #830084;
    color: #fff;
}

.header-logo {
    width: 200px;
    height: 45px;
    float: left;
    position: relative;
}

.logo-mini {
    visibility: hidden;
    opacity: 0;
    line-height: 45px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background: #3c3c3d;
    font-size: 14px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
}

.logo-normal {
    text-align: center;
    width: 100%;
    height: 45px;
    top: 0;
    left: 0;
    display: inline-block;
    position: absolute;
    line-height: 45px;
    font-size: 16px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
}

.logo-normal img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 30px;
    float: left;
}

.logo-normal p {
    float: left;
    margin-left: 20px;
}

/*Header - PROFILE
==================================================*/
.header-profile {
    float: right;
    margin-right: 5%;
    position: relative;
    cursor: pointer;
}

.profile-fullname {
    line-height: 45px;
    font-size: 14px;
    display: inline-block;
    height: 45px;
    margin-left: 10px;
}

.profile-fullname .fa {
    margin-left: 10px;
}

.profile-panel {
    display: none;
    background-color: #830084;
    width: 200px;
    position: absolute;
    top: 45px;
    right: -50px;
    box-shadow: 3px 3px 3px #eee;
    font-size: 14px;
    z-index: 9999;
}

.profile-item {
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.profile-item .fa {
    float: left;
    width: 20px;
    height: 20px;
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
}

.profile-item a {
    color: #fff;
    display: inline-block;
    width: calc(100% - 30px);
}

.profile-item:hover {
    background-color: #6b026d;
}

.header-profile:hover .profile-panel{
    display: block;
}

/*ASIDE
==================================================*/
aside {
    width: 200px;
    background-color: #fff;
    float: left;
    clear: both;
    position: fixed;
    top: 45px;
    left: 0;
    height: calc( 100% - 45px );
    overflow: hidden;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
}

.aside-button {
    display: block;
    width: 35px;
    height: 35px;
    float: right;
    cursor: pointer;
    position: absolute;
    left: 160px;
    top: 50px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    z-index: 9999;
    font-size: 25px;
    color: #fff;
    text-align: center;
    line-height: 35px;
}


.aside-list {
    margin-top: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc( 100vh - 140px );
    width: 200px;
}

.aside-item:first-child {
    border-top: 1px solid #E7EAEC;
}

.aside-item,
.aside-child-item {
    clear: both;
    border-bottom: 1px solid #E7EAEC;
    cursor: pointer;
    position: relative;
    width: 200px;
    font-weight: 700;
}

.aside-item .fa,
.aside-child-item .fa {
    float: left;
    font-size: 20px;
    line-height: 40px;
    display: inline-block;
    width: 20px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
}

.aside-child-item .fa {
    font-size: 12px;
    color:
}

.aside-item a,
.aside-child-item a {
    text-transform: uppercase;
    color: #505b72;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
}

.aside-child-item .fa {
    position: absolute;
}

.aside-list .fa,
.aside-button .fa {
    color: #505b72;
}

.aside-child-item a {
    width: 100%;
    margin-left: 40px;
    font-size: 12px;
    font-weight: normal;
}

.aside-child-button {
    display: inline-block;
    font-size: 20px;
    float: right;
    margin-right: 10px;
}

.aside-child-item {
    display: none;
    margin-left: 20px;
}

.aside-item:hover,
.aside-child-item:hover {
    background-color: #f2f2f2;
}

.aside-item.active,
.aside-child-item.active {
    background-color: #830084;
}

.aside-item.active .fa,
.aside-child-item.active .fa {
    color: #f2f2f2;
}

.aside-item.active a,
.aside-child-item.active a {
    color: #f2f2f2;
}

.aside-item > span:nth-child(2),
.aside-child-item > span:nth-child(2) {
    background-color: #3C3C3D;
    color: #fff;
    position: fixed;
    top: 0;
    left: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    display: none;
}

/*Article
=====================================================*/
article {
    float: right;
    width: calc( 100% - 200px );
    position: fixed;
    top: 45px;
    right: -20px;
    overflow: hidden;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    z-index: -1;
}

/*Footer
======================================================*/
.aside-closed footer {
    visibility: hidden;
    opacity: 0;
}

footer {
    width: 200px;
    margin-top: 5px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
}

footer p {
    text-align: center;
    font-size: 12px;
    font-family: 'courier new';
    color: #515151;
}

/*Closed
===============================================*/
body.closed aside {
    left: -160px;
}

body.closed .aside-item {
    margin-left: 160px;
    width: 100%;
}

body.closed .aside-child-item {
    margin-left: 160px;
    width: 100%;
}


body.closed .aside-button {
    left: 2px;
}

body.closed .logo-mini {
    visibility: visible;
    opacity: 1;
}

body.closed .logo-normal {
    visibility: hidden;
    opacity: 0;
}

body.closed article {
    width: calc( 100% - 40px );
}

/* MODULES GENERAL
===========================================================*/

/*Status
======================================*/
.cpanel-status {
    position: fixed;
    top: -9999px;
    left: 50%;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -wekit-transition: all 0.5s ease-out;
}

.cpanel-status p {
    padding: 10px;
    color: #ffffff;
    background-color: #ffffff;
    font-size: 0.9em;
    letter-spacing: 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #515151;
}

.status-icon {
    margin-right: 10px;
}

.cpanel-status .error {
    background-color: #d32a00;
}

.cpanel-status .success {
    background-color: #0f92c3;
}

.cpanel-status.show {
    top: 10px;
}

/*Layout
======================================*/
.module-wrapper {
    padding: 30px;
    padding-bottom: 0;
    height: 90vh;
    box-sizing: border-box;
}

.module-heading {
    color: #777;
    font-family: sans-serif;
    font-size: 20px;
    float: left;
}

.module-heading small {
    font-weight: normal;
    font-size: 14px;
}

.module-toolbar {
    background-color: #ffffff;
    border-top: 2px solid #830084;
    padding: 10px 20px;
    height: 50px;
    box-sizing: border-box;
}

.module-content {
    height: 78vh;
    background-color: #ffffff;
    margin-top: 20px;
    border-top: 2px solid #830084;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 30px;
    box-sizing: border-box;
}

.module-button-area {
    float: right;
}

.module-button-area .buttons:last-child {
    margin-right: 0;
}

.total-row {
    margin: 20px 0;
}

.total-row .showing-info {
    float: right;
    font-size: 12px;
    color: #515151;
    line-height: 30px;
}

.total-row .at-the-end {
    display: none;
}

.loadmore-btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #515151;
    background-color: #f2f2f2;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.loadmore-btn:hover {
    background-color: #830084;
    color: #fff;
}

/*Helpers
==================================*/
.module-addnew,
.module-filter {
    display: none;
}

/*Popup
====================================*/
.cpanel-popup-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #999;
    top: 0;
    left: 0;
    opacity: 0.5;
    display: none;
}

.cpanel-popup {
    position: fixed;
    background-color: #ffffff;
    width: 250px;
    height: 145px;
    top: 50px;
    left: 50%;
    margin-left: -125px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    z-index: 9999;
    display: none;
}

.cpanel-popup p {
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #515151;
    height: 60px;
    overflow: hidden;
}

.cpanel-popup div {
    float: right;
}

.popup-agree,
.popup-disagree {
    padding: 7px 10px;
    border: 1px solid #dddddd;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.5s ease-out;
    -wekit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    color: #515151;
}

.popup-agree {
    border-color: #1ec1fc;
    margin-right: 10px;
}

.popup-disagree:hover {
    background-color: #f2f2f2;
}

.popup-agree:hover {
    background-color: #c1eeff;
}

/* Currency Inputs
============================================================*/
.currency-inputs {
  padding-right: 20px;
}

.currency-input-wrapper {
  position: relative;
}

.currency-input-wrapper:before {
  content: 'vnđ';
  position: absolute;
  right: 10px;
  top: 1px;
  font-size: 16px;
}

/*Textarea fixed*/
textarea {
    max-height: 200px;
    height: 70px;
    max-width: 100%;
    overflow: auto;
}

/* Loading
==================================================*/
.loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.1;
    z-index: 10000;
    display: none;
}

.loading {
    width: 300px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -150px;
    text-align: center;
    z-index: 100001;
    display: none;
}

.loading img {
    width: 100px;
    height: 100px;
}

.loading span {
    display: block;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
}

/* Saving
==================================================*/
.saving,
.saving:hover {
    cursor: no-drop;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
}

/*Realtime
==============================================*/
.realtime-notification {
    position: absolute;
    top: 10px;
    right: 40px;
    padding: 3px;
    background-color: #e22222;
    color: #f2f2f2;
    font-size: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #ddd;
}
